.div1{
    background-color: rgba(243, 238, 238, 0.479);
}

.card{
    width: 20%;
    border-radius: 5px;
    margin-left: 50px;
    border-color: Ash;
    height: 20%;
    margin-top: 30px;
    transition: 0.3s;
    margin-left: 175px;

}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container{
    padding: 8px 18px;
    text-align: left;
}
.b1{
    border-radius: 8px;
    background-color: rgb(217, 219, 219);
    width: 200px;
}